.container {
  position: relative;
  max-inline-size: 500px;
  margin-left: 30%;
}
.img {
  max-width: 360px;
  float:inline-start;
  padding-left: 20px;

}
.btnReview {
  position: relative;
  cursor: pointer;
  font-size: 22px;
  font-style: italic;
 
}

