.div {
  margin: auto;
  max-width: 200px;
  margin-bottom: 10px;
  margin-inline: 10px;
  border: 1px solid #ccc;
  float: left;
}
.div img {
  max-width: 198px;
  height: auto;
}
.title {
  size: 24px;
}

.btnDetails {
  color: darkcyan;
  cursor: pointer;
}
.content {
  max-width: 80%;
  margin-left: 5px;
  margin-bottom: 5px;
}
