.div {
  margin: auto;
  max-inline-size: 300px;
  margin-bottom: 10px;
  margin-inline: 10px;
  width: 300px;
  border: 1px solid #ccc;
  float: left;
}
.div img {
  max-inline-size: 240px;
  width: 100%;
  height: auto;
}

.btnGet {
  background: #ffffff;
  height: 30px;
  width: 60px;
  float: left;
  margin: auto;
  padding: auto;
  border-radius: 10px;
  border-color: #406593;
  cursor: pointer;
  box-shadow: 1px 1px 1px #cbced1, -1px -1px 1px white;
}
.btnDetails {
  color:darkcyan;
  cursor: pointer;
}
.buttons {
  padding-left: 5px;
}
